* {

    margin: 0px;
    margin-bottom: -5px;
}

body {

    position: relative
}

.background {

    width: 100%;
    height: 100%;
    z-index: -99999;
}

.link {

    font-family: 'Roseritta', sans-serif;
    font-size: 120%;
    color: white;     
    position: absolute;
    left: 41.1vw;
    bottom: 15.5vw;
}

button {

    border-radius: 25px;
    z-index: 99;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
}

.user {

    font-family: 'Roseritta', sans-serif;
    font-size: 200%;
    background-color: black;
    border: solid 1px white;
    color: white;
    position:absolute;
    left:45.2%;
    bottom: 25.7vw;
}

.admin {

    font-family: 'Roseritta', sans-serif;
    font-size: 185%;
    background-color: white;
    border: solid 1px black;
    color: black;
    position:absolute;
    position:absolute;
    left:44.7%;
    bottom: 20vw;
}