* {

    margin: 0px;
    margin-bottom: -5px;
}

body {

    position: relative
}

.background {

    width: 100%;
    height: 100%;

    z-index: -99999;
}

#backButton {

    position: absolute;

    font-family: 'Roseritta', sans-serif;
    font-size: 120%;
    color: white;
    text-decoration: underline;

    top: 12vh;
    left: 5vw;

}

#name {

    position:absolute;

    width: 300px;
    height: 30px;
    border-radius: 15px;

    right: 14.4vw;
    top: 29vh;

    text-align: center;
}

#email {

    position:absolute;

    width: 300px;
    height: 30px;
    border-radius: 15px;

    right: 14.4vw;
    top: 39vh;

    text-align: center;
}

#DOB {

    position:absolute;

    width: 300px;
    height: 30px;
    border-radius: 15px;

    right: 14.4vw;
    top:49.5vh;

    text-align: center;
}

#phone {

    position:absolute;

    width: 300px;
    height: 30px;
    border-radius: 15px;

    right: 14.4vw;
    top: 59.5vh;
    
    text-align: center;
}

#username {

    position:absolute;

    width: 300px;
    height: 30px;
    border-radius: 15px;

    right: 14.4vw;
    top: 70vh;

    text-align: center;
}

#password {

    position:absolute;

    width: 300px;
    height: 30px;
    border-radius: 15px;

    right: 14.4vw;
    top: 80.5vh;

    text-align: center;
}

#signUpButton {

    position: absolute;

    font-family: 'Roseritta', sans-serif;
    color: white;
    font-size: 150%;

    background-color: black;
    border: solid 1px white;
    border-radius: 25px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;

    right: 20.2vw;
    bottom: 19.5vh;
}